@{
    ViewData["Title"] = "Home Page";
}

<div class="container" id="main-container"> 
        
        <div class="text-container">
          <main>
            <h1>
              Bem vindo à seção de estagiários.
            </h1>
            <p class="info-text">
                Neste módulo você pode <b>visualizar</b> os estagiários cadastrados na Procuradoria-Geral do estado de Sergipe e ver as suas informações de 
                <b>CPF</b>, <b>Nome Completo</b>, <b>Data de Nascimento</b>, <b>Curso de Graduação</b>, <b>Instituição de Ensino</b>, <b>Carga Horária Semanal</b> e também o Setor em que cada estagiário está alocado.
                    
            </p>
          </main>
        </div>
      </div>
